extends layout
block content
  div(class="container")
    div(class="well welcome-text")  Hello, to access our app please 
      button(class="btn btn-default btn-login") Log in 
      button(class="btn btn-default btn-register" disabled="disabled")  Register
  div(class="container")
    div(class="row")
      div(class="col-md-12")
        div(class="well login-box")
          form(action="")
            legend Login
            div(class="form-group")
              label(for="username-email") E-mail or Username
              input(value='' id="username-email" placeholder="E-mail or Username" type="text" class="form-control")
            div(class="form-group")
                label(for="password") Password
                input(id="password" value='' placeholder="Password" type="text" class="form-control")
            div(class="form-group text-center")
                button(class="btn btn-danger btn-cancel-action")  Cancel
                input(type="submit" class="btn btn-success btn-login-submit" value="Login")
